
<h2> To post text on your wall please click this button </h2>
	<div id="fb-root" />
</div>
   <script> 
   function fun(){
	     FB.init({ 
         appId  : '158722860929735', 
         status : true, // check login status 
         cookie : true, // enable cookies to allow the server to access the session 
         xfbml  : true  // parse XFBML 
         });  
		   FB.ui(
  {
   method: 'feed',
   message: 'getting educated about Facebook Connect',
   name: 'Back to App',
   caption: 'The Facebook Connect to post content',
      description: (
      'Testing Rails app to post on fb wall with text,image nad icon of the app'
   ),
   link: 'http://localhost:3000/',
   picture: 'http://www.fbrell.com/f8.jpg',
   actions: [
        { name: 'Sriram', link: 'http://localhost:3000/' }
   ],
  user_message_prompt: 'Share your thoughts about RELL'
  },
  function(response) {
    if (response && response.post_id) {
      alert('Post was published.');
    } else {
      alert('Post was not published.');
    }
  }
);
}
			


</script>
<button type = "submit " name ="connect" onclick = "fun();">